* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --font-mono: "Hermit", "Fira Mono", "Ubuntu Mono", "IBM Plex Mono",
    "Source Code Pro", monospace;
  --bg: #181819;
  --fg: #666;
  --accent: #f76ec9;
  --subtle: #999;
  --green: #94d1b3;
  --red: #f07f75;
  --font-size: 32px;
  --font-size-small: 24px;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-mono);
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
}

body {
  max-width: 80ch;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

textarea {
  color: #0000;
}

.typer-container {
  width: 90%;
  height: 55vh;
  letter-spacing: 2px;
  padding: 10px;
  display: block;
  position: relative;
}

#caret {
  width: 2px;
  background-color: var(--accent);
  border-radius: 4px;
  animation: blink 1s infinite;
  display: inline-block;
  position: absolute;
  transform-origin: top left;
  top: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 0.9;
  }
}

#app {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
}

#typer-input,
#typer-preview {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
  font-family: var(--font-mono);
  width: 100%;
  height: 100%;
  resize: none;
  background: 0 0;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.valid {
  color: var(--green);
}

.invalid {
  color: var(--red);
}

.button-container {
  align-items: center;
  gap: 8px;
  padding: 10px;
  display: flex;
}

.trigger-btn {
  font-size: var(--font-size-small);
  font-weight: 700;
  font-family: var(--font-mono);
  color: var(--fg);
  border: 0;
  border-bottom: 3px solid var(--fg);
  background: 0 0;
  padding: 10px;
  border-radius: 0px;
}

.trigger-btn.active {
  color: var(--accent);
  border-bottom: 3px solid var(--accent);
}

.trigger-btn:hover {
  border-bottom: 3px solid var(--accent);
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 2rem;
}
