:root {
  --success: #212529;
  --error: #fa5252;
  --dull: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #212529;
  font-size: 20px;
  font-family: 'Hermit', monospace;
}

.typer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 85ch;
  margin: 0 auto;
  margin-top: 25%;
  position: relative;
}

#typer-preview,
#typer-input {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  outline: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  padding: 10px;
}

#typer-input {
  color: transparent;
}

.typer-letter {
  color: var(--dull);
}

.typer-letter.valid {
  color: var(--success);
}

.typer-letter.invalid {
  color: var(--error);
}

#caret {
  height: 36px;
  width: 2px;
  background: black;
  border-radius: 6px;
  position: fixed;
  top: 10;
  left: 10;
  transition: all 30ms linear;
}
