* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font-mono: 'Hermit', 'Fira Mono', 'Ubuntu Mono', 'IBM Plex Mono',
    'Source Code Pro', monospace;
  --bg: #181819;
  --fg: #666;
  --accent: hsl(320, 90%, 70%);
  --subtle: #999;
  --green: hsl(150, 40%, 70%);
  --red: hsl(5, 80%, 70%);
  --font-size: 18px;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-mono);
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
}

body {
  max-width: 80ch;
  margin: 0 auto;
}

textarea {
  color: transparent;
}

.typer-container {
  padding: 10px;
  position: relative;
  display: block;
  min-height: 250px;
  width: 100%;
}

.caret-block {
  position: absolute;
  height: 2px;
  width: 10px;
  left: 0px;
  top: 0px;
  display: inline-block;
  background-color: var(--accent);
  transition: transform 250ms linear;
}

#app {
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

#typer-input,
#typer-preview {
  font-size: var(--font-size);
  font-family: var(--font-mono);
  line-height: calc(var(--font-size) * 1.8);
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  position: absolute;
  background: transparent;
}

.correct {
  color: var(--green);
}
.incorrect {
  color: var(--red);
}
